.company {
  margin-top: 120px;
}

.video_about {
  width: 2500px;
  height: 345px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(75, 75, 75, 0.2);
  -moz-box-shadow: 4px 4px 10px 2px rgba(75, 75, 75, 0.2);
  box-shadow: 4px 4px 10px 2px rgba(75, 75, 75, 0.2);
}

.title,
.title_delivery {
  margin-top: 30px;
  font-size: 25px;
  font-family: dexa round;
  font-weight: 500;
  margin-bottom: 10px;
}

.text {
  text-indent: 20px;
}

.one_text {
  margin-right: 30px;
}

.purpose {
  font-family: dexa round;
  font-size: 18px;
  font-weight: 400;
  color: #003362;
}

.pluses {
  margin-top: 40px;
  margin-bottom: 50px;
}

.icon_plus {
  width: 90px;
}

.text_plus {
  margin: 25px 0 0 10px;
  font-size: 17px;
  line-height: 1.2em;
}

@media screen and (max-width: 1200px) {
  .title,
  .title_delivery {
    font-size: 23px;
  }

  .icon_plus {
    width: 70px;
  }

  .text_plus {
    font-size: 16px;
    margin: 20px 0 0 10px;
  }
}

@media screen and (max-width: 1000px) {
  .first_text {
    flex-direction: column;
  }

  .video_about {
    width: 100%;
  }

  .one_text {
    margin-right: 0;
  }

  .title,
  .title_delivery {
    font-size: 20px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a:focus,
[tabindex="-1"]:focus {
  outline: 0.125rem solid hsl(var(--theme-cayn));
}
a:focus:not(:focus-visible),
[tabindex="-1"]:focus:not(:focus-visible) {
  outline: none;
}

.Carousel {
  --carousel-gap: 1rem;
  border-radius: 5px;
  display: flex;
  gap: var(--carousel-gap);
  overflow-y: hidden;
  overflow-x: auto;
  position: relative;
  scroll-behavior: auto;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  height: 50vw;
  outline: none !important;
  min-height: 20rem;
  max-height: 30rem;
}
.Carousel::-webkit-scrollbar {
  display: none;
}
.Carousel .Card {
  aspect-ratio: var(--card-ratio);
  flex: 1 0 auto;
  min-height: 100%;
  scroll-snap-align: start;
}
.Carousel .Card__media {
  aspect-ratio: auto;
}
.Carousel > div:empty {
  position: relative;
}
.Carousel > div:empty:first-child {
  inset-inline-start: 10%;
  -webkit-margin-end: calc(-1 * var(--carousel-gap));
  margin-inline-end: calc(-1 * var(--carousel-gap));
}
.Carousel > div:empty:last-child {
  inset-inline-end: 10%;
  -webkit-margin-start: calc(-1 * var(--carousel-gap));
  margin-inline-start: calc(-1 * var(--carousel-gap));
}

.Carousel--single .Card {
  --card-ratio: auto;
  flex: 1 0 100%;
}

@media (prefers-reduced-motion: reduce) {
  .Carousel {
    scroll-behavior: auto;
  }
}
@supports not (aspect-ratio: 1/1) {
  .Carousel .Card__media {
    -webkit-padding-after: 0 !important;
    padding-block-end: 0 !important;
  }
  .Carousel .Card__image {
    position: relative !important;
  }
}
.Dots {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Dot {
  border-radius: 100%;
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.Dot::after {
  background: currentColor;
  border-radius: 100%;
  content: "";
  display: block;
  height: 0.375rem;
  width: 0.375rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.Dot--active {
  color: hsl(var(--theme-cayn)) !important;
}

.Pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1rem -0.5rem;
}
.Pagination .Arrow {
  flex: 0 0 auto;
}
.Pagination .Arrow:first-of-type {
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  order: -1;
}
.Pagination .Arrow:last-of-type {
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  order: 1;
}

.Arrow {
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0.125rem;
  color: hsl(var(--theme-cayn));
  display: flex;
  height: 3rem;
  justify-content: center;
  opacity: 1;
  padding: 0.5rem;
  transition: opacity 150ms, color 150ms;
  width: 3rem;
}
.Arrow:hover {
  color: hsl(var(--theme-cayn));
}
.Arrow:focus {
  color: hsl(var(--theme-cayn));
  outline: none;
}
.Arrow:focus svg {
  box-shadow: 0 0 0 0.125rem hsla(var(--theme-white), 1),
    0 0 0 0.25rem currentColor;
}
.Arrow:focus:not(:focus-visible) {
  color: hsl(var(--theme-blue));
}
.Arrow:focus:not(:focus-visible) svg {
  box-shadow: none;
}
.Arrow[disabled] {
  color: hsl(var(--theme-dark));
  opacity: 0.4;
  pointer-events: none;
}
.Arrow svg {
  border-radius: 100%;
  fill: currentColor;
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms;
}
[dir="rtl"] .Arrow svg {
  transform: scaleX(-1);
}

.Hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

:root {
  --card-link-color: var(--theme-blue);
  --card-hover-color: var(--theme-cayn);
  --card-focus-color: var(--theme-cayn);
  --card-inner-focus-color: var(--theme-white);
  --card-shadow-color: var(--theme-black);
  --card-foreground-color: var(--theme-dark);
  --card-background-color: var(--theme-dark);
}

.Card {
  --card-ratio: auto 1/1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: [media-start] auto [media-end main-start] auto [main-end];
  max-width: 100%;
  position: relative;
}

.Card__media {
  aspect-ratio: var(--card-ratio);
  background: hsla(var(--card-background-color), 0.5);
  border-radius: 5px;
  grid-column: 1/-1;
  grid-row: media-start/media-end;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.Card__media > * {
  border-radius: inherit;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.Card__main {
  align-self: end;
  color: hsl(var(--card-foreground-color));
  grid-column: 1/-1;
  grid-row: main-start/main-end;
  padding: 1.25rem;
}
.Card__main [href]:not(.Card__link) {
  position: relative;
  z-index: 2;
}
.Card__main > * {
  margin: 0;
}

.Card__link {
  color: hsl(var(--card-link-color));
  font-weight: 600;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-text-decoration-color: hsla(var(--card-link-color), 0.2);
  text-decoration-color: hsla(var(--card-link-color), 0.2);
  text-decoration-thickness: 0.125rem;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  -webkit-text-decoration-skip-ink: all;
  text-decoration-skip-ink: all;
}
.Card__link::after {
  border: 0.125rem solid hsl(var(--card-focus-color));
  box-shadow: inset 0 0 0 0.125rem hsla(var(--card-inner-focus-color), 1);
  border-radius: 5px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: border-color 150ms, opacity 150ms;
  z-index: 1;
}
.Card__link:hover,
.Card__link:focus {
  -webkit-text-decoration-color: hsla(var(--card-hover-color), 1);
  text-decoration-color: hsla(var(--card-hover-color), 1);
}
.Card__link:hover::after,
.Card__link:focus::after {
  opacity: 1;
}
.Card__link:focus {
  outline: none;
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}

.Card__heading {
  line-height: 1.25;
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
}

.Card--border .Card__link::after {
  opacity: 1;
}
.Card--border .Card__link:not(:focus):not(:hover)::after {
  border-color: hsla(var(--card-foreground-color), 0.5);
}

.Card--overlay {
  --card-shadow-color: var(--theme-black);
  --card-foreground-color: var(--theme-white);
  --card-background-color: var(--theme-dark);
  --card-link-color: var(--theme-white);
  --card-hover-color: var(--theme-white);
  grid-template-rows: [media-start] 1fr [overlay-start] 1rem [main-start] auto [main-end overlay-end media-end];
}
.Card--overlay::before {
  background: linear-gradient(
    to top,
    hsla(var(--card-shadow-color), 0.8) 20%,
    hsla(var(--card-shadow-color), 0.3) 60%,
    transparent
  );
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  content: "";
  display: block;
  grid-column: 1/-1;
  grid-row: overlay-start/overlay-end;
  overflow: hidden;
}
.Card--overlay .Card__main p {
  text-shadow: 0 0.0625rem 0.0625rem hsl(var(--card-shadow-color));
}
.Card--overlay .Card__main a {
  color: hsl(var(--card-link-color));
}
.Card--overlay .Card__main a:active,
.Card--overlay .Card__main a:visited {
  color: hsl(var(--card-link-color));
}
.Card--overlay .Card__main a:hover,
.Card--overlay .Card__main a:focus {
  color: hsl(var(--card-hover-color));
}

.Card--square {
  --card-ratio: auto 1/1;
}

.Card--photo {
  --card-ratio: auto 4/3;
}

.Card--portrait {
  --card-ratio: auto 3/4;
}

.Card--wide {
  --card-ratio: auto 16/9;
}

@supports not (aspect-ratio: 1/1) {
  .Card__media {
    height: 100%;
    -webkit-padding-after: 100%;
    padding-block-end: 100%;
  }
  .Card--square .Card__media {
    -webkit-padding-after: 100%;
    padding-block-end: 100%;
  }
  .Card--photo .Card__media {
    -webkit-padding-after: 75%;
    padding-block-end: 75%;
  }
  .Card--portrait .Card__media {
    -webkit-padding-after: 133.3333333333%;
    padding-block-end: 133.3333333333%;
  }
  .Card--wide .Card__media {
    -webkit-padding-after: 56.25%;
    padding-block-end: 56.25%;
  }
}
html {
  line-height: 1.5;
}

body {
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.gallery {
  margin: 0 auto;
  max-width: calc(90rem + 10vw);
  padding: 1.5rem 5vw;
  width: 100%;
}
.gallery > *:first-child {
  -webkit-margin-before: 0;
  margin-block-start: 0;
}
.gallery > h2,
.gallery > h3 {
  line-height: 1.25;
  margin-block: 1.5rem 1rem;
}
.gallery > ul {
  margin-block: 1.5rem;
  padding-inline: 2rem 0;
}
.gallery > ul li {
  margin-block: 0.5rem;
}
.gallery > p {
  margin-block: 1rem;
}
.gallery a:not([class]) {
  font-weight: 500;
} /*# sourceMappingURL=gallery.css.map */
