.container_profile {
  margin-top: 120px;
}

.title_category {
  font-size: 30px;
  font-family: dexa round;
  font-weight: 500;
  margin-bottom: 30px;
}

.personal_menu_mobile {
  display: none;
}

.personal_data_active {
  background: #fff;
  font-family: Gilroy;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  border: 1px solid #003362;
  border-radius: 25px;
}

.personal_data {
  font-family: Gilroy;
  padding-left: 20px;
  border: 1px solid #f2f3f5;
  border-radius: 25px;
}

.personal_data:hover {
  background: #fff;
  border: 1px solid #003362;
}

.title_p_left {
  margin: 7px 0 7px 10px;
}

.block_name,
.block_number,
.block_mail {
  background: #fff;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 10px 20px 15px 20px;
}

.title_name,
.title_number,
.title_mail {
  color: #8d8d8d;
  font-size: 14px;
  margin-bottom: 5px;
}

.button_catalog,
.button_change_password {
  background: #003362;
  font-family: Gilroy;
  border: none;
  color: #fff;
  border-radius: 25px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
}
.button_change_password {
  width: 50%;
}

.button_catalog:hover {
  background: #ffffff;
  color: #000;
  border: 1px solid #003362;
}

.button_change_password:hover {
  background: #ffffff;
  color: #000;
  border: 1px solid #003362;
}

.manager {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
}

.manager_mobile {
  background: #fff;
  border-radius: 3px;
  padding: 20px;
  margin-top: 10px;
  display: none;
}

.title_manager {
  margin: 0;
}

.phone_manager {
  margin-left: 10px;
}

.button_call_manager {
  background: #003362;
  font-family: Gilroy;
  border: none;
  color: #fff;
  border-radius: 25px;
  width: 100%;
  height: 40px;
  margin: 0 auto;
  margin-top: 15px;
  display: none;
}

.button_call_manager:hover {
  background: #ffffff;
  color: #000;
  border: 1px solid #003362;
}

.exit:hover {
  color: #636363;
}

.exit_mobile {
  display: none;
}

.exit_text {
  padding-top: 13px;
  padding-right: 6px;
}

.button_change_manager {
  height: 40px;
  border-radius: 25px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #fff;
  color: #000000;
  background: #f2f3f5;
}

.button_change_manager:hover {
  background: #f2f3f5;
  color: #1c1c1c;
  border: 1px solid #003362;
}

/* модальное окно */
.form-control {
  border-radius: 50px;
  padding-left: 20px;
  height: 40px;
  margin-bottom: -10px;
  font-size: 14px;
  border: 1px solid #003362;
}

.button_send {
  margin-top: 10px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background: #003362;
}

.button_send:hover {
  background: #f2f3f5;
  color: #1c1c1c;
  border: 1px solid #003362;
}

.button_close {
  margin-top: 5px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #1c1c1c;
  background: #f2f3f5;
}

.button_close:hover {
  color: #1c1c1c;
  border: 1px solid #003362;
  transition: 0.3s;
}

footer {
  margin-top: 115px;
}

@media screen and (max-width: 1650px) {
}

@media screen and (max-width: 1200px) {
  .title_category {
    font-size: 25px;
  }

  .title_manager {
    font-size: 14px;
  }

  .name_manager {
    font-size: 18px;
  }

  .phone_manager {
    font-size: 18px;
  }

  .name_surname,
  .number_phone,
  .mail {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .icon_menu {
    width: 17px;
  }

  .title_p_left {
    font-size: 14px;
  }

  .title_category {
    font-size: 22px;
  }

  .title_manager {
    font-size: 14px;
  }

  .name_manager {
    font-size: 17px;
  }

  .icon_call {
    display: none;
  }

  .phone_manager {
    display: none;
  }

  .button_call_manager {
    display: block;
  }

  .button_change_manager {
    margin-top: 0;
  }

  .name_surname,
  .number_phone,
  .mail {
    font-size: 18px;
  }

  .button_change_password {
    width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .left_menu {
    display: none;
  }

  .manager_mobile {
    display: block;
    margin-top: 30px;
  }

  .name_manager {
    font-size: 20px;
  }

  .exit {
    display: none;
  }

  .exit_mobile {
    display: block;
  }

  .exit_text {
    padding-top: 0;
  }

  .icon_exit {
    padding-bottom: 14px;
  }

  .personal_account {
    width: 100%;
  }

  .personal_menu_mobile {
    display: block;
    margin-bottom: 30px;
  }

  .title_p_left {
    font-size: 16px;
  }
}
