ul.breadcrumb {
    padding: 10px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    color: #000;
    font-size: 18px;
}

ul.breadcrumb li + li:before {
    padding: 9px;
    content: "–\00a0";
}

ul.breadcrumb li a {
    color: #8d8d8d;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #003362;
}
.before_after__h1 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 40px;
}
.before_after__h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 150%; /* 36px */
    margin-bottom: 10px;
}

.before_after__text {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%; /* 27px */
}
.before_after__images_wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cecece;
    padding-bottom: 40px;
}
.before_after__images_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
}
.before_after__images_grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
}
.before_after__flex_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 44%;
}
.before_after__text_before_after {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}
.before_after__post {
    margin-bottom: 100px;
}
.before_after__modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.34);
    display: flex;
    justify-content: center;
    align-items: center;
}
.before_after__modal_img {
    width: 60%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}
@media (max-width: 800px) {
    .before_after__images_wrapper {
        flex-direction: column;
    }
    .before_after__flex_wrapper {
        width: 100%;
    }
    .before_after__images_grid {
        width: 100%;
    }
    .before_after__arrow {
        margin-top: 30px;
        margin-bottom: 60px;
        transform: rotate(90deg);
    }
    .before_after__modal_img {
        width: 90%;
        height: 40%;
    }
}
